:root {
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #1e684d, #0c3023 55%);
}

#app {
  min-height: 100vh;
}
